@import "tailwindcss";
@tailwind utilities;

@theme {
  /* lightmode: */
  --color-jazzy-white: #fbf9f9;
  --color-ocean-blue: #404d5e;
  --color-hot-orange: #ec8918;
  --color-tree-green: #73a40a;

  /* darkmode: */
  --color-midnight-teal: #10191e;
  --color-cherry-blue: #f2f3ff;
  --color-firey-orange: #ff9705;
  --color-hard-blue: #2a6cf8;
}

body[data-theme="light"] {
  @apply bg-linear-to-b from-jazzy-white to-[#f2ecec];
  @apply text-ocean-blue;
  @apply transition-colors duration-300 ease-in-out;
}

body[data-theme="dark"] {
  @apply bg-linear-to-b from-midnight-teal to-[#1E1510];
  @apply text-cherry-blue;
  @apply transition-colors duration-300 ease-in-out;
}
