@import "tailwindcss";
@tailwind utilities;

@theme {
  /* lightmode: */
  --color-jazzy-white: #fbf9f9;
  --color-ocean-blue: #404d5e;
  --color-hot-orange: #ec8918;
  --color-tree-green: #73a40a;

  /* darkmode: */
  --color-midnight-teal: #10191e;
  --color-cherry-blue: #f2f3ff;
  --color-firey-orange: #ff9705;
  --color-hard-blue: #2a6cf8;
}

.main-circle-dark {
  width: calc(100vw * 0.7);
  height: calc(100vh * 1.4);
  border-radius: 50%;
  display: inline-block;
  @apply bg-linear-to-br from-hot-orange via-pink-800/80 to-hard-blue;
  position: absolute;
  top: 10rem;
}
