@import "tailwindcss";

@theme {
  /* lightmode: */
  --color-jazzy-white: #fbf9f9;
  --color-ocean-blue: #404d5e;
  --color-hot-orange: #ec8918;
  --color-tree-green: #73a40a;

  /* darkmode: */
  --color-midnight-teal: #10191e;
  --color-cherry-blue: #f2f3ff;
  --color-firey-orange: #ff9705;
  --color-hard-blue: #2a6cf8;
}

.main-cirlce-dark {
  @apply w-100 h-100 bg-red;
  border-radius: 50%;
  display: inline-block;
}
