@import "tailwindcss";
@import "../index.css";

.main-circle-dark {
  width: calc(100vw * 0.7);
  height: calc(100vh * 1.4);
  border-radius: 50%;
  display: inline-block;
  @apply bg-linear-to-br from-hot-orange via-pink-800/80 to-hard-blue;
  position: absolute;
  top: 10rem;
}
