@import "tailwindcss";

:root {
  user-select: none;
}

.navbar-class {
  @apply transition-opacity duration-150 ease-in-out;
  @apply fixed left-0 w-90 h-screen;
  @apply border-r-2;
}

li {
  @apply text-3xl py-4;
  @apply border-b-1;
}

li:first-child {
  @apply border-t-1;
}

li:hover {
  @apply font-bold text-4xl rounded-bl-sm;
}
