@import "tailwindcss";
@import "../../index.css";

.main-circle-dark {
  width: 100vw;
  height: 200vh;
  border-radius: 50%;
  display: inline-block;
  @apply bg-linear-to-br from-hot-orange via-pink-800/80 to-hard-blue;
  position: absolute;
  top: 10rem;
}
